<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | clann.ing</title>
    
    {% block head %}
    <!-- Common CSS files here -->
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <nav>
            <a href="/">Home</a>
            <a href="/players">Players</a>
        </nav>
        {% endblock %}
    </header>

    <hr>

    <main>
        {% block content %}
        <!-- Content will be inserted here -->
        {% endblock %}
    </main>

    <hr>

    <footer>
        {% block footer %}
        This material is unofficial and is not endorsed by Supercell.
            For more information see Supercell's Fan Content Policy: <a href="https://www.supercell.com/fan-content-policy">www.supercell.com/fan-content-policy</a>.
        <p>Clone this yourself on <a href="https://github.com/lag/clanning">GitHub</a>.</p>
        {% endblock %}
    </footer>

    {% block scripts %}
    <!-- Common JavaScript files here -->
    {% endblock %}
</body>
</html>