<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clann.ing</title>
</head>
<body>
    <header>
        This site is a work in progress. Please be gentle.
    </header>

    <main>
        <h1>clann.ing</h1>
        <p>
            My end goal is to have a system to track and analyze the progress of my Clash of Clans accounts.
            As of right now, this is all you've got to look at.
        </p>
    </main>
    
    <footer>
        <p class="disclaimer">
            This material is unofficial and is not endorsed by Supercell.
            For more information see Supercell's Fan Content Policy: <a href="https://www.supercell.com/fan-content-policy">www.supercell.com/fan-content-policy</a>.
        </p>
    </footer>
</body>
</html>